
:root {
    --main-color: #05164B;
    --main-font: roboto;
}

.navbar-rg {
    margin-left: auto !important;
}


.nav-pd {
    padding: 1rem;
}

.titleNav{
    font-family: 'Roboto', sans-serif;
    color: var(--main-color) !important;
}

li {
    padding: 0px 1.5rem;
}


.bgImage{
   height: 50rem;
   width: 100%;
   position: absolute;
   z-index: -300;
   background-image: url('.//Assets/sec.jpg');
   background-size: cover;
   background-repeat: no-repeat, no-repeat;
   background-position: right, left; 
}


.imgbg {
    background-color: #3e3e3e;
    width: 42rem;
    height: 28rem;
    top: 10rem;
    left: 7rem;
    position: absolute;
}


.test-me {
    margin-bottom: 2rem;
    text-align: center;
    color:  #FFFFFF;
    font-family: var(--main-font);
}

.alignSection {
    margin-top: 5rem;
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.leaflet-container {
    border-radius: 20px;
    width: 40rem;
    height: 30rem;
}

.storeIconsDiv {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.aboutAppText {
    width: 30rem;
    color: white;
}

.aboutAppTittle {
    padding: 2rem;
    text-align: center;
}

.aboutAppJustifyText {
    text-align: justify;    
}